<div
  class="user"
  [ngClass]="{
    active: user.activated,
    disabled: !user.activated
  }"
>
  <app-user-info [user]="user"></app-user-info>
  <app-button
    (click)="onClick(user)"
    text="Switch Sex"
    color="success"
  ></app-button>
  <app-button
    (click)="onActivate(user)"
    text="{{ user.activated ? 'Deactivate' : 'Activate' }}"
    color="warning"
  ></app-button>
  <app-button
    text="{{ showForm ? 'Close' : 'Edit' }}"
    color="error"
    (click)="toggleForm()"
  ></app-button>
  <div class="edit-form" *ngIf="showForm">
    <app-form formType="edit-form" [userEdit]="user"></app-form>
  </div>
</div>
