<form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)" class="form-container" novalidate>
  <div class="addUserForm">
    <app-user-info-form [userForm]="userForm"></app-user-info-form>
    <app-contacts [userForm]="userForm"></app-contacts>
    <app-address [userForm]="userForm"></app-address>
    <app-books [userForm]="userForm"></app-books>
  </div>
  <ng-container *ngIf="userForm.valid">
    <app-button type="submit" color="{{ colors.warning }}"
      text="{{ isEditable ? '***TO DO EditUser***' : 'Add User' }}"></app-button>
  </ng-container>
</form>