<form [formGroup]="address">
  <div class="countryInput">
    <app-label for="country" content="Country:">
      <input
        type="text"
        name="country"
        formControlName="country"
        id="country"
      />
    </app-label>
  </div>
  <div class="cityInput">
    <app-label for="city" content="City:">
      <input type="text" name="city" formControlName="city" id="city" />
    </app-label>
  </div>
  <div class="streetInput">
    <app-label for="street" content="Street:">
      <input type="text" name="street" formControlName="street" id="street" />
    </app-label>
  </div>
  <div class="stateInput">
    <app-label for="state" content="State:">
      <input type="text" name="state" formControlName="state" id="state" />
    </app-label>
  </div>
  <div class="zipCodeInput">
    <app-label for="zipCode" content="Zip Code:">
      <input
        type="text"
        name="zipCode"
        formControlName="zipCode"
        id="zipCode"
      />
    </app-label>
  </div>
</form>
