<form [formGroup]="address">
  <div class="countryInput">
    <app-form-field-wrapper for="country" content="Country:">
      <input type="text" name="country" formControlName="country" id="country" />
    </app-form-field-wrapper>
  </div>
  <div class="cityInput">
    <app-form-field-wrapper for="city" content="City:">
      <input type="text" name="city" formControlName="city" id="city" />
    </app-form-field-wrapper>
  </div>
  <div class="streetInput">
    <app-form-field-wrapper for="street" content="Street:">
      <input type="text" name="street" formControlName="street" id="street" />
    </app-form-field-wrapper>
  </div>
  <div class="stateInput">
    <app-form-field-wrapper for="state" content="State:">
      <input type="text" name="state" formControlName="state" id="state" />
    </app-form-field-wrapper>
  </div>
  <div class="zipCodeInput">
    <app-form-field-wrapper for="zipCode" content="Zip Code:">
      <input type="text" name="zipCode" formControlName="zipCode" id="zipCode" />
    </app-form-field-wrapper>
  </div>
</form>