.form-container {
  input {
    outline: none;
  }
  text-align: center;
  .addUserForm {
    margin: 1em;
    display: grid;
    grid-template-columns: 0fr 0fr 0fr 0fr;
    grid-gap: 1em;
    text-align: center;
    justify-content: center;

    .err {
      border: 3px solid red;
    }

    .err-msg {
      color: red;
    }

    .sexInput {
      display: flex;
      gap: 0.7em;
      align-items: center;
    }
  }
}
