<form [formGroup]="generalInfo">
  <div class="generalInfo">
    <div class="nameInput">
      <label for="name">Name:</label>
      <input type="text" name="name" formControlName="name" id="name" />
    </div>
    <p *ngIf="name?.errors?.['required']" class="err-msg">No empty inputs!</p>
    <p *ngIf="name?.errors?.['notOnlyLetters']" class="err-msg">
      Name must contain only letters!
    </p>
    <div class="ageInput">
      <label for="age">Age:</label>
      <input type="number" name="age" formControlName="age" id="age" />
    </div>
    <div class="sexInput">
      <label for="male">Male:</label>
      <input
        type="radio"
        name="sex"
        formControlName="sex"
        id="male"
        value="male"
      />
      <label for="female">Female:</label>
      <input
        type="radio"
        name="sex"
        formControlName="sex"
        id="female"
        value="female"
      />
    </div>
    <p *ngIf="sex?.errors" class="err-msg">Please select a gender!</p>
  </div>
</form>
