<form [formGroup]="books">
  <div>
    <div class="bookNameInput">
      <app-form-field-wrapper for="bookName" content="Book Name:">
        <input
          type="text"
          name="bookName"
          formControlName="bookName"
          id="bookName"
        />
      </app-form-field-wrapper>
    </div>
    <div class="authorInput">
      <app-form-field-wrapper for="author" content="Author:">
        <input type="text" name="author" formControlName="author" id="author" />
      </app-form-field-wrapper>
    </div>
  </div>
</form>
