<div class="container">
  <app-header-module></app-header-module>
  <div class="form-container" *ngIf="showForm">
    <app-form (addUserToArray)="addUser($event)"></app-form>
  </div>
  <app-button
    (click)="toggleForm()"
    color="success"
    text="{{ showForm ? 'Hide Form' : 'Show Form' }}"
  ></app-button>
  <div class="users-container">
    <ng-container *ngFor="let user of users">
      <app-user-card
        (switchGender)="switchGender($event)"
        (activateCard)="onActivate($event)"
        [user]="user"
        [hideMales]="hideMales"
        *ngIf="hideMales && user.general.sex === 'male' ? false : true"
      ></app-user-card>
    </ng-container>
  </div>
  <app-button
    color="success"
    text="{{ hideMales ? 'Show Males' : 'Hide Males' }}"
    (click)="onClick()"
  ></app-button>
  <app-button
    color="success"
    text="{{
      activateAllUsers ? 'Deactivate All Users' : 'Activate All Users'
    }}"
    (click)="activateUsers()"
  ></app-button>
</div>
