<mat-toolbar color="primary">
  <span>
    <mat-icon>book</mat-icon>
  </span>
  <h1>Public Library</h1>
  <div class="spacer"></div>

  <nav class="navigation">
    <ng-container *ngIf="isLoggedIn | async">
      <a class="logout" mat-raised-button color="accent" routerLink="/login" (click)="onSignOut()"
        routerLinkActive="router-link-active">Logout</a>
      <a mat-button mat-raised-button color="normal">Active Users: {{counter | async}}</a>
      <a mat-button routerLink="/users" routerLinkActive="router-link-active">Users</a>
      <a mat-button appTooltip="Add User" *appPermission="['add-user']" routerLink="/add-user"
        routerLinkActive="router-link-active">Add User</a>
    </ng-container>
    <a mat-button mat-raised-button color="normal" routerLink="/rxjs" routerLinkActive="router-link-active">RxJS</a>
  </nav>
</mat-toolbar>