.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background: lightblue;

  .navigation ul {
    display: flex;
    gap: 2em;

    a {
      text-decoration: none;
      color: forestgreen;
      font-size: 1.2em;
    }

    li {
      list-style: none;
      display: block;
    }
  }
}
