.header-container {
  .form-container {
    text-align: center;

    .addUserForm {
      margin: 1em;
      display: grid;
      grid-template-columns: 0fr 0fr 0fr 0fr;
      grid-gap: 1em;
      text-align: center;
      justify-content: center;
    }
  }
}
