<form [formGroup]="form">
  <div>
    <div class="phoneInput">
      <label for="phone">Phone:</label>
      <input type="tel" name="phone" formControlName="phone" id="phone" />
    </div>
    <div class="emailInput">
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" formControlName="email" />
      <p *ngIf="email?.errors?.['emptyInput']" class="err-msg">
        No empty inputs!
      </p>
      <p *ngIf="email?.errors?.['invalidEmail']" class="err-msg">
        Doesn't look like a valid email!
      </p>
    </div>
  </div>
</form>
